* {
    font-family: 'Roboto', sem serifa;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: black;
}

.div {
    margin-bottom: 30px;
}

#cabecalho {
    background: #9657A5;
    width: 375px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

h1 {
    font-size: 24px;
    padding-top: 20px;
    color: #F4F4F4;
    text-align: center;

}

#caixa-principal {
    background: #E5E5E5;
    width: 375px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;

}

.pararagrafo {
    margin-bottom: 6px;
    color: #777777;
    font-size: 14px;
    font-weight: 400px;
    line-height: 18px;

}

.select {
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    width: 327px;
    height: 48px;
    margin-bottom: 23px;
    appearance: none;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;

}

#input {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 327px;
    height: 48px;
    margin-bottom: 23px;
    outline: none;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
    color:#555555;

}

#button {
    background-color: #CDD728;
    border: 1px solid #CDD728;
    width: 327px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    color: #F4F4F4;
    border-radius: 25px;
    outline: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 23px;

}

.caixa-interna {
    border: 1px solid #9657A5;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.caixa-menor {
    text-align: center;


}

#seta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.paragrafo-negrito {
    font-weight: bold;
    font-size: 20px;

}

button:active {
    opacity: 0.6;
}

